@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-image: url(../img/fondointenso.jpg);
    font-family: "Bebas Neue", sans-serif;
    color: #FFFFFF;
    
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    border: 0 solid red;
    
}
.header{
    
    
    display:flex;
    align-items:center;
    border:solid red 0px;
}
.menu{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: 1em;
    border:solid rgb(255, 4, 121) 0px;
    
}
#menu-container{
    clear: both;
    width: 100%;
}

#logout{
    width: 5em;
    border:solid yellow 0px;
    margin-right: 1em;
    padding: 0em;
    
}
.logo{
    font-size: 40px;
    color:#FFFFFF;
    margin-right: 0em;
}

.navbar{
    
    text-align: center;
    border:solid yellow 0px;
}  

.menu .navbar ul li{
    position:static;
    float:left;
    margin-left: 1.3em;
    border:solid yellow 0;
    padding: 0em;
}
.menu .navbar ul{
    margin-left: 24.4em;
    margin-right: 30em;
    border:solid red 0;
}
.menu .navbar ul li a{
    font-size: 26px;
    padding: 10px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover{
    color: red;
    transform: scale(1.3);  
}


.header-content{
    display: flex;
    width:100%;
    text-align: center;
    justify-content: center;
}

#leon{
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat; /* Evita la repetición */
    background-position: center; /* Centra el fondo */
    border: 0 solid red;
    width: 100%;
    height: 100vh;
    
}

#botones{
    border: 0 green solid;
    width:100%;
    height:48em;
    margin-top: 5em;
    display: none;
}

.anadir,
.eliminar,
.editar,
.listar{
    width: 15em;
}

.fila,.fila2{
    clear: both;
    height: auto;
    width: auto;
    border: yellow solid 0;    
    justify-content: center;
}

#btn1,
#btn2,
#btn4{
    border: 0.5em red solid;
    border-radius: 1em;
    float: left;
    margin-left: 21%;
    margin-top: 2em;
    padding: 2.5em 3em 2em 3em;
    cursor: pointer;
}

#btn3{
    border: 0.5em red solid;
    border-radius: 1em;
    float: left;
    margin-left: 21%;
    margin-top: 2em;
    padding: 2em 3em 2em 3em;
    cursor: pointer;
}

#btn1:hover,
#btn2:hover,
#btn3:hover,
#btn4:hover{
    border: 0.5em goldenrod solid;
    transform: scale(1.1);   
}


#botones2{
    border: 0 green solid;
    width:100%;
    height:48em;
    margin-top: 5em;
    display: none;
}

.anadir2,
.eliminar2,
.editar2,
.listar2{
    width: 15em;
}

.fila21,.fila22{
    clear: both;
    height: auto;
    width: auto;
    border: yellow solid 0;    
    justify-content: center;
}

#btn12,
#btn22,
#btn42{
    border: 0.5em red solid;
    border-radius: 1em;
    float: left;
    margin-left: 21%;
    margin-top: 2em;
    padding: 2.5em 3em 2em 3em;
    cursor: pointer;
}

#btn32{
    border: 0.5em red solid;
    border-radius: 1em;
    float: left;
    margin-left: 21%;
    margin-top: 2em;
    padding: 2em 3em 2em 3em;
    cursor: pointer;
}

#btn12:hover,
#btn22:hover,
#btn32:hover,
#btn42:hover{
    border: 0.5em goldenrod solid;
    transform: scale(1.1);   
}



.forms {
    width: 60%; /* Ancho deseado del formulario */
    margin: 0 auto; /* Margen automático para centrar horizontalmente */
    border:0px solid green;
    margin-top: 8em;
}
h2{
    text-align: center;
    margin-top: 0.5em;
}
textarea{
    width:70%;
    height: 9em;
    margin-top: 2.4em;
    
}
select{
    margin-top: 1.65em;
    width:20%;
    margin-bottom: 0;
    height: 2em;
}
input{
    width:70%;
    margin-top: 2em;
}

.tit{
    margin-top: 1em;
}
.login-form2{
    font-size: 1.5em;
    border: 0px solid red;
    height: auto;
    text-align: center;
}

.titulos{
    float: left;
    height: fit-content;
    border: 0px solid yellow;
    width: 45%;
    text-align: right;
}

.inputs{
    float:left;
    height: auto;
    border: 0px solid blue;
    width:50%;
    text-align: left;
    padding-left: 0.5em;
}
.enviarform{
    margin-top: 1em;
    clear:both;
}

/* Borrar*/

table{
    border: none;
}

.tabla {
    width: 100%;
    margin-top: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.tabla th{
    
    border: none;
    padding: 1em;
    text-align: center;
    
    color:  goldenrod;
    letter-spacing: 1.56px;
    font-size: 1.2em;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 0.3em;
}

.tabla td {
    border: none;
    padding: 0em;
    text-align: center;
    margin-top: 0em;
    letter-spacing: 1px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 0.3em;
}

.tabla .descripcion {
    width:35em;
    text-align: justify;
}

.error {
    width: 100%;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 3em;
}

.papelera {
    padding-bottom: 1.5em;
    width: 2.5em;
    background-color: transparent;
}

.papelera2 {
    padding:0em;
    width: 2.5em;
    background-color: transparent;
}
.btn-2 {
    margin-top: 1.5em;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 0.31em;
    border: none;
    color:#000000;
    font-size: 16px;
    cursor:pointer;
    align-self: flex-end;
    background-color: #ffffff;
    margin-left: 1em;
}

.btn-2:hover {
    background-color: #ff2f2800;
    color: #ffffff;
    border: 2px grey solid;
}
button{
    padding: 0em;
    background-color: transparent;
    border:0px solid red;
    margin: 0em;
}
#valor{
    height: 2em;    
}