@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../img/fondointenso.jpg);
    font-family: "Roboto", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    font-family: "Bebas Neue", sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 35px;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    font-size: 22px;
    padding: 10px;
    color: #FFFFFF;
}

.navbar ul li a:hover {
    color: red;
}

#logout {
    width: 5em;
    margin-left: 20px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.btn-1 {
    display: inline-block;
    padding: 7px 20px;
    background-color: #FF2F28;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.container2 p {
    margin-bottom: 20px;
    text-align: justify;
}

.container2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FF2F28;
}

.container2 ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.container2 ul li {
    margin-bottom: 10px;
    text-align: justify;
}

.container2 ul li strong {
    color: #212121;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #fff;
    margin-top: auto;
    margin-bottom: 2em;
    font-family: "Bebas Neue", sans-serif;
}

.footer ul {
    display: flex;
}

.footer h3 {
    font-size: 30px;
}

.footer a {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 20px;
}

.footer a:hover {
    color: #FF2F28;
}

#copyright {
    font-size: 1.75em;
}
